@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.cdnfonts.com/css/miama');
                

.display-flex{
  display: flex;
  align-items: center;
}

/*nav section*/
.brand{
  position: static;
  color: rgb(230, 83, 60);
  font-size: 3rem;
  flex-direction: row;
  font-weight: 700;
  
  
  
}
.navbar{
  justify-content: space-between;
  align-items: center;
  
}

nav ul li{
  margin-right: 47px;
}

.nav-item{
  list-style: none;
  margin-right: 30px;

}

.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 64px;
  flex-direction: row;
  color: rgb(255, 255, 255);
  border-radius: 39px;
  border: 0px solid

}


.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.bg-light{
  background-color: rgb(17, 17, 17);
}

/*Banner related styles*/
.banner-title{
  color: rgb(255, 255, 255);
  font-size: 5rem;
  text-align: left;
  font-weight: 900;
}

.banner-content{
  max-width: 520px;
}

.banner-pic{
  width: 420px;
  
}


.banner-description{
  color: rgba(255, 255, 255, 0.5);
}


.banner{
  display: flex;
  justify-content: space-between;
}

.text-primary{
  font-family: 'Miama', sans-serif;
  font-weight: 300;
  font-style: italic;
  padding: 0px;
}

.btn-primary{
  background-color:rgb(230, 83, 60) ;
  border-radius: 42px;
  border: none;
  flex-direction: row;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 16px 40px 16px 40px ;
  font-size: 15px;
  margin: 20px;
}

.btn-primary-app{
  background-color: rgb(17, 17, 17) ;
  border-radius: 42px;
  border: 1px solid;
  flex-direction: row;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 16px 40px 16px 40px ;
  font-size: 15px;
  margin-left: 20px;
}

/* Run Section Style */

main{
  max-width: 1300px;
  margin: 0 auto;
}

.run-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1160px;
  height: 371px;
  margin: 62px 0px;
  background: rgb(34, 34, 34);
  border-radius: 18px;
}

.run-image-div{
  display: inline-grid;
  overflow: hidden;
  border-radius: 18px;
}

.run-image-div img{
  width: 366px;
  height: 312px;
  transform: scale(2.5);
  transform-origin: 75% 30%;
}

.text-contain{
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
}
.run-descrition{
  font-size: 1rem;
  font-weight: 200;
  color:rgba(255, 255, 255, 0.5)
}
.btn-primary-run{
  background-color:rgb(230, 83, 60) ;
  border-radius: 44px;
  border: none;
  flex-direction: row;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 16px 40px 16px 40px ;
  font-size: 15px;
  margin: 20px;
}