@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.cdnfonts.com/css/miama');
                

/*.display-flex{
  display: flex;
  align-items: center;
}

/*nav section*/
/*.brand{
  position: static;
  color: rgb(230, 83, 60);
  font-size: 3rem;
  flex-direction: row;
  font-weight: 700;
  
  
  
}
.navbar{
  justify-content: space-between;
  align-items: center;
  
}

nav ul li{
  margin-right: 47px;
}

.nav-item{
  list-style: none;
  margin-right: 30px;

}

.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 64px;
  flex-direction: row;
  color: rgb(255, 255, 255);
  border-radius: 39px;
  border: 0px solid

}


.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

.bg-light{
  background-color: rgb(17, 17, 17);
}

/*Banner related styles*/
/*.banner-title{
  color: rgb(255, 255, 255);
  font-size: 5rem;
  text-align: left;
  font-weight: 900;
}

.banner-content{
  max-width: 520px;
}

.banner-pic{
  width: 420px;
  
}


.banner-description{
  color: rgba(255, 255, 255, 0.5);
}


.banner{
  display: flex;
  justify-content: space-between;
}

.text-primary{
  font-family: 'Miama', sans-serif;
  font-weight: 300;
  font-style: italic;
  padding: 0px;
}

.btn-primary{
  background-color:rgb(230, 83, 60) ;
  border-radius: 42px;
  border: none;
  flex-direction: row;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 16px 40px 16px 40px ;
  font-size: 15px;
  margin: 20px;
}

.btn-primary-app{
  background-color: rgb(17, 17, 17) ;
  border-radius: 42px;
  border: 1px solid;
  flex-direction: row;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 16px 40px 16px 40px ;
  font-size: 15px;
  margin-left: 20px;
}

/* Run Section Style */

main{
  max-width: 1300px;
  margin: 0 auto;
}

.run-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  margin: 62px 0px;
  background: rgb(34, 34, 34);
  border-radius: 18px;
}

.run-image-div{
  display: inline-grid;
  overflow: hidden;
  border-radius: 18px;
}

.run-image-div img{
  width: 366px;
  height: 312px;
  transform: scale(2.5);
  transform-origin: 75% 30%;
}

.text-contain{
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
}
.run-descrition{
  font-size: 1rem;
  font-weight: 200;
  color:rgba(255, 255, 255, 0.5)
}
.btn-primary-run{
  background-color:rgb(230, 83, 60) ;
  border-radius: 44px;
  border: none;
  flex-direction: row;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 16px 40px 16px 40px ;
  font-size: 15px;
  margin: 20px;
}
/*responsive for small device run section*/

@media screen and (max-width:576px){
  .run-section{
    flex-direction: column;
    gap: 20px;
  }
  .btn-primary{
    height: 60px;
    width: 350px;
    font-size: 1.3rem;
  }
}

/*habit section*/
.title{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 5px;
  text-align: center;
}
.description{
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}
.pic-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}
.picture{
  position: static;
  width: 231px;
  height: 274px;
  flex: none;
  margin: 0px 30px;
}
.habit-img{
  width: 100%;
  border-radius: 50%;
}
.habit-title{
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
.habit-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: .9rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.3px;

}
.habit-container{
  align-items: center;
}
.Habits{
  background-color:black;
  padding: 0 50px 100px 50px;
}

  /*responsive for small device habit section*/
  @media screen and (max-width: 576px){
    .pic-content{
      grid-template-columns: repeat(1, 1fr);
      gap: 80px;
    }
  }
  /*footer section style*/
  footer{
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(34, 34, 34);;
  } 

  .foot{
    display: flex;
    justify-content: center;
    gap: 300px;
    padding: 30px;
  }
  .fitness-title{
    color: rgb(230, 83, 60);
    font-size: 4rem;
    font-weight: 800;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
  }
  .f-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin: 0;

  }
  .f1-content{
    width: 443px;
    height: 176px;
  }
  .get-title{
    color:rgb(255, 255, 255) ;
    font-family: inter; 
    font-size: 2rem; 
    font-weight: 700;
    text-align: right;
    margin: 5px;
  }
  .foot-ul li a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.5) ;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
  }

  .foot-ul li {
    font-size: 20px;
    list-style: none;
    text-align: left;
    margin-bottom: 10px;
  }
  
  /*Border line*/

  .line{
    max-width: 1059px;
    margin: 0 auto;
  }
  .footer-line{
    max-width:1059px ;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }

  /*line text*/

.line-text{
  color:rgba(255, 255, 255, 0.5) ;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 5px;
}